{% assign price = product.selected_or_first_available_variant.price | money_without_currency %}
{% assign variantImage = product.selected_or_first_available_variant | image_url %}
{% assign productImage = product | image_url %}

{% if customer %}
<div class="add-to-container" style="display: flex; justify-content: left; ">
  <input type="hidden" class="customer-id" value="{{ customer.id }}">
  <input type="hidden" class="product-id" value="{{ product.id }}">
  <input type="hidden" class="title" value="{{ product.title }}">
  <input type="hidden" class="shop-id" value="{{ shop.id }}">
  <input type="hidden" class="shop-url" value="{{ shop.url }}">
  <input type="hidden" class="variant-id" value="{{ product.selected_or_first_available_variant.id }}">
  <input type="hidden" class="variant-title" value="{{ product.selected_or_first_available_variant.title }}">
  <input type="hidden" id="price" value="{{ price }}">
  {% unless product.has_only_default_variant %}  
  <input type="hidden" class="image" value="{{ variantImage }}">
  {% else %}
  <input type="hidden" class="image" value="{{ productImage }}">
  {% endunless %}
  <button class="add-to-list-button button button--full-width button--secondary" style="width: 180px">
    Add To Wish List
  </button>
</div>
{% endif %}

<script async id='myScript' src={{ "add_to.js" | asset_url }} defer></script>



{% schema %}
{
  "name": "Add to Wish List",
  "target": "section" ,
  "available_if": "{{ app.metafields.wishify.hasPaid }}" ,
  "settings": [
    {
      "id" : "Product",
      "type": "product",
      "label": "Product Addition",
      "info": "Add the product ID you want to add to the wish list."
    }
  ]
}
{% endschema %}