<div id="popup-container-success" class="popup">
  <div class="flex-container">
    <div class="close-popup">
      <button onclick="closePopup()">&times</button>
    </div>

    <div class="flex-body-container"> 
      <div class="image-popup">
        {% if product.has_only_default_variant %}
          <img src="{{ product | image_url }}" width="180" height="270"/>
        {% else %}
          <img src="{{ product.selected_or_first_available_variant | image_url }}" width="180" height="270" />
        {% endif %}
      </div>

      <div class="text-button-container"> 
        <div class="text-popup">
          <p>1 item added to your Wish List
            <br/>
            <br/>
            {% if product.has_only_default_variant %}
            {{ product.title }} 
            {% else %}
            {{ product.selected_or_first_available_variant.title }} {{ product.title }}
            {% endif %}
            <br/>
            ${{ product.selected_or_first_available_variant.price | money_without_currency }}
          </p>
        </div>

        <div class="view-wish-list">
          <button class="button button--full-width button--secondary">View Your List </button>
        </div>

        <div class="continue-shopping">
          <button class="button button--full-width button--primary" onclick="closePopup()">Continue Shopping </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup-container-error" class="popup">
  <div id="flex-error" class="flex-container">
    <div class="close-popup">
      <button onclick="closePopup()">&times</button>
    </div>
    <div class="text-popup">
      <p>There has been an issue with trying to add 
        {% if product.has_only_default_variant %}
          {{ product.title }} 
        {% else %}
          {{ product.selected_or_first_available_variant.title }} {{ product.title }} 
        {% endif %}
        to your list.
      </p>
    </div>
    <div class="continue-shopping">
      <button class="button button--full-width button--primary" onclick="closePopup()">Continue Shopping </button>
    </div>
  </div>
</div>

<div id="popup-container-already" class="popup">
  <div id="flex-already" class="flex-container">
    <div class="close-popup">
      <button onclick="closePopup()">&times</button>
    </div>
    <div class="text-popup">
      <p> 
        {% if product.has_only_default_variant %}
          {{ product.title }} 
        {% else %}
          {{ product.selected_or_first_available_variant.title }} {{ product.title }} 
        {% endif %}
        is already in your list
      </p>
    </div>
    <div class="continue-shopping">
      <button class="button button--full-width button--primary" onclick="closePopup()">Continue Shopping </button>
    </div>
  </div>
</div>

<script async id='myScript' src={{ "add_to.js" | asset_url }} defer></script>
<script src={{ "popup.js" | asset_url }} defer></script>

<style>
  .popup {
    position: fixed;
    top: 45%;
    width: 100%;
    margin: auto;
    z-index: 2;
    display: none;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #FDFDFD;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #000000;
  }

  .flex-container div {
    position: relative;
  }

  .close-popup {
    width: 350px;
    height: 40px;
    background-color: #EBECED;
    padding: 0;
    text-align: right;
    flex: 1 0 100%;
  }

  .close-popup button {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: 40px;
    font-weight: bold;
  }

  .image-popup {
    display: none;
  }

  .text-popup {
    height: 140px;
    width: 325px;
    margin-top: 20px;
    margin-left: 25px;
  }

  .text-popup p {
    height: 100%;
    width: 100%;
    font-size: 20px;
    text-align: left;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .view-wish-list {
    margin: 10px 25px;
    padding: 0;
    width: 300px;
    height: 50px;
  }
  .view-wish-list button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .continue-shopping {
    margin: 0 25px 25px;
    padding: 0;
    width: 300px;
    height: 50px;
  }

  .continue-shopping button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 600px) {
    .flex-container {
      width: 550px;
    }

    .close-popup {
      width: 550px;
    }

    .flex-body-container {
      display: flex;
      flex-direction: row;
      width: 550px;
      height: 310px;
      
    }

    .image-popup {
      display: block;
      width: 200px;
      height: 100%;
      padding: 10px;
    }

    .image-popup img {
      object-fit: contain;
    }

  }
</style>

{% schema %}
{
  "name": "Popup Message Embedded",
  "target": "body",
  "settings": [
    {
      "id" : "product",
      "type": "product",
      "label": "Product ID",
      "info": "View Wish List"
    }
  ]
}
{% endschema %}