{% assign price = product.selected_or_first_available_variant.price | money_without_currency %}
{% assign variantImage = product.selected_or_first_available_variant | image_url %}


<div class="wish-list-container">
  <input type="hidden" class="product-id" value="{{ product.id }}">
  <input type="hidden" class="title" value="{{ product.title }}">
  <input type="hidden" class="shop-id" value="{{ shop.id }}">
  <input type="hidden" class="variant-id" value="{{ product.selected_or_first_available_variant.id }}">
  <input type="hidden" class="variant-title" value="{{ product.selected_or_first_available_variant.title }}">
  <input type="hidden" id="price" value="{{ price }}">
  <input type="hidden" class="image" value="{{ variantImage }}">
  <button class="add-to-list-button">
    Add To Wish List
  </button>
</div>

<script async id='myScript' src={{ "script.js" | asset_url }} defer></script>

{% schema %}
{
  "name": "Wish List Embed",
  "target": "section",
  "settings": [
    {
      "id" : "product",
      "type": "product",
      "label": "Product ID",
      "info": "Add the product ID you want to add to the wish list."
    }
  ]
}
{% endschema %}