<div class="wish-list-container">
  <input type="hidden" class="product-id" value="{{ product.id }}">
  <input type="hidden" class="price" value="{{ product.price }}">
  <input type="hidden" class="title" value="{{ product.title }}">
  <input type="hidden" class="shop-id" value="{{ shop.id }}">
  <button class="add-to-list-button">
    Add To Wish List
  </button>
</div>

<script async id='myScript' src={{ "script.js" | asset_url }}></script>

{% schema %}
{
  "name": "Wish List Embed",
  "target": "section",
  "settings": [
    {
      "id" : "product",
      "type": "product",
      "label": "Product ID",
      "info": "Add the product ID you want to add to the wish list."
    }
  ]
}
{% endschema %}